<!-- 新建新闻 -->
<div class="content-wrapper paper-detail">
	<div class="content">
		<!-- 投票标题 -->
		<div class="content-top">
			<h1>组队投票（标题）</h1>
			<div class="btn-group clearfix">
				<a href="javascript:window.history.back();">
					<button class="btn-theme-o">返回</button>
				</a>
				<a class="download" href="#">下载答卷</a>
			</div>
			<p class="user-info">
				<span class="name">用户名：<span>某某某</span></span>
				<span class="phone">手机号：<span>18579078888</span></span>
			</p>
		</div>
		<div class="content-body">
			<h2>投票答案</h2>
			<table class="answer-list table-list">
				<tbody>
					<tr>
						<td><span>第一题：</span><span>标题标题标题标题标题标题标题</span><span class="check-type">【单选】</span></td>
						<td><span>选项C：</span><span>选项内容选项内容选项内容选项内容</span></td>
					</tr>
					<tr>
						<td><span>第二题：</span><span>标题标题标题标题标题标题标题</span><span class="check-type">【单选】</span></td>
						<td><span>选项A：</span><span>选项内容选项内容选项内容</span></td>
					</tr>
					<tr>
						<td><span>第三题：</span><span>标题标题标题标题标题标题标题</span><span class="check-type">【多选】</span></td>
						<td>
							<ul>
								<li><span>选项A：</span><span>选项内容选项内容选项内容</span></li>
								<li><span>选项C：</span><span>选项内容选项内容选项内容</span></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- content/end -->
</div>
<!-- content /end -->