<!-- 答卷列表 -->
<div class="content-wrapper paper-list">
	<div class="content">
		<!-- 顶部菜单栏 -->
		<div class="content-top">
			<h1 id="j_paper_title"></h1>
			<div class="btn-group clearfix">
				<a href="javascript:window.history.back();">
					<button class="btn-theme-o">返回</button>
				</a>
				<a href="#" class="download">下载报告</a>
			</div>
		</div>
		<!-- 主体内容区 -->
		<div class="content-body">
			<table id="j_paper_list_table">
				<thead>
					<tr>
						<th data-field="time">提交答卷时间</th>
						<th data-field="name">用户姓名</th>
						<th data-field="phone">手机号</th>
						<th data-field="id" data-formatter="BSTFormatHandleRow.vote.paper.handle">操作</th>
					</tr>
				</thead>
				<tbody>
				<!-- bs table data -->
				</tbody>
			</table>
		</div>
		<!-- content body /end -->
	</div>
	<!-- content /end -->
</div>