<!-- 数据统计 -->
<div class="content-wrapper survey-statistics">
	<div class="content">
		<!-- 投票标题 -->
		<div class="content-top">
			<h1 id="j-statistic-title">组队投票</h1>
			<div class="btn-group clearfix">
				<button class="btn-theme-o" onclick="window.history.back();">返回</button>
				<a class="download hide" id="j_download_report" href="">下载报告</a>
			</div>
		</div>
		<!-- 主题内容 -->
		<div class="content-body">
			<!--遍历统计结果 -->
			<div class="check-list j-statistic-result">
				<p class="check-title j-question-title">
					<!-- insert dom -->
				</p>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<!-- insert dom -->
							</tr>
						</thead>
						<tbody>
							<!-- insert dom -->
						</tbody>
					</table>
				</div>
			</div>
			<div class="tips hide">暂无统计信息</div>
		</div>
	</div>
	<!-- content /end -->
</div>