<!-- 公司简介 -->
<div class="content-wrapper company-profile">
    <div class="content">
        <div class="title">
            <h1>公司简介</h1>
        </div>
        <form id="j_profile_form" enctype="multipart/form-data" onsubmit="return false">
            <!-- 编辑器 -->
            <div class="content-main clearfix">
                <div class="u-editor-wrapper">
                    <textarea id="j_u_editor" name="profile" type="text/plain"></textarea>
                </div>
                <div class="preview-wrapper">
                    <div class="preview-content" id="j_preview"></div>
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn-theme submit">保存</button>
            </div>
        </form>
    </div>
</div>