<div class="content-wrapper invest-list">
	<div class="content">
		<!-- 顶部菜单栏 -->
		<div class="content-top clearfix">
			<div class="btn-group">
				<a href="#/invest/add" class="btn">
					<button class="btn-theme-o">添加投资</button>
				</a>
				<a href="javascript:" class="btn">
					<button class="btn-theme-o" id="j_import_invest">导入投资</button>
				</a>
			</div>
			<div class="form-inline">
				<form onsubmit="return false" id="j_search_form">
				<div class="input-wrapper">
					<!-- 客户类型 -->
					<label>客户类型：</label>
					<select name="client_type" bind-data="{search.client_type}" onchange="BSTSearch('#j_invest_table', 250)">
						<option value="0">全部</option>
						<option value="1">个人</option>
						<option value="2">机构</option>
					</select>
					<!-- 投资产品 -->
					<label>投资产品：</label>
					<select name="product" onchange="BSTSearch('#j_invest_table', 250)" bind-data="{search.product}">
						<option value="">请选择投资产品</option>
						<option value="{ productType.id }" repeat-dom="productType">{ productType.title }</option>
					</select>
					<!-- 投资日期 -->
					<label>投资日期：</label>
					<input class="time-input" type="text" id="j_start_time" name="start_time" bind-data="{search.start_time}" readonly="true">
					<span>至</span>
					<input class="time-input" type="text" id="j_end_time" name="end_time" bind-data="{search.end_time}" readonly="true">
					</div>
					<!-- 搜索 -->
			
					<input type="search" name="search"  bind-data="{search.search}" placeholder="请输入关键字搜索" >
					<button class="btn-theme" onclick="BSTSearch('#j_invest_table', 250)">搜索</button>
				</form>
			</div>
		</div>
		<!-- 列表 -->
		<div class="content-body">
			<table id="j_invest_table">
				<thead>
					<tr>
						<th data-field="invest_date">投资日期</th>
						<th	data-field="name">名称</th>
						<th	data-field="money">投资金额(元)</th>
						<th	data-field="bank_name">开户银行</th>
						<th	data-field="bank_account">银行账号</th>
						<th	data-field="product">投资产品</th>
						<th	data-field="type" data-formatter="BSTFormatHandleRow.invest.client">客户类型</th>
						<th	data-field="phone">手机号码</th>
						<th	data-field="id" data-formatter="BSTFormatHandleRow.invest.handle">操作</th>
					</tr>
				</thead>
				<tbody>
					<!-- bs table data -->
				</tbody>
			</table>
		</div>
		<!-- content body /end -->
	</div>
</div>