<!-- 应用菜单 -->
<div class="content-wrapper app-menu">
    <div class="content">
        <div class="content-top">
            <button class="btn-theme-o">更新应用列表</button>
        </div>
        <div class="content-body">
            <ul class="clearfix">
                <li>
                    <a href="#/setting/option.html">
                        <img src="" alt="">
                        <p>应用名称</p>
                    </a>
                </li>
                <li>
                    <a href="#/setting/option.html">
                        <img src="" alt="">
                        <p>应用名称</p>
                    </a>
                </li>
                <li>
                    <a href="#/setting/option.html">
                        <img src="" alt="">
                        <p>应用名称</p>
                    </a>
                </li>
                <li>
                    <a href="#/setting/option.html">
                        <img src="" alt="">
                        <p>应用名称</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-bottom"></div>
    </div>
</div>